<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/addreview.css">
</head>
<body>
    <nav>
        <h1 href="/">TasteThreads</h1>
        <div class="nav-buttons">
            <a href="/dashboard">Menu Selection</a>
            <a href="/menu1">Return to menu</a>
            <a href="/logout">Logout</a>
        </div>  
    </nav>
    <main>
        <h1>Submit your review</h1>
        <form action="/postreview2" method="POST">
            <div class="container2">
                <!-- <label for="text">Review</label> -->
                <textarea type="text" id="text" name="text" rows="4" cols="50" maxlength="300"></textarea>
            </div>
            <div class="container">
                <label for="dishname">Dish Name</label>
                <input type="text" id="dishname" name="dishname">
                <label for="rating">Rating Out of 10</label>
                <input type="number" id="rating" name="rating" min="1" max="10">
            </div>
            <button type="submit">Submit Review</button>
        </form>
    </main>
</body>
</html>