<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://kit.fontawesome.com/2eabe83adc.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <main>
        <h1>Welcome to <br><span style="color: var(--d-primary)">TasteThreads</span>.</h1>
        <h2>The spot to share feedback of dishes from your favorite local restaurants.</h2>
        <div class="options">
            <a class="button1" href="/login">Login</a>
            <a class="button1" href="/signup">Sign Up</a>
        </div>
    </main>
    
    <div class="img-container" id="img-container">
        <!-- <img src="/images/dishhome.jpg"> -->
    </div>

    <footer class="socials" id="socials">
        <i class="fa-brands fa-twitter fa-xl"></i>
        <i class="fa-brands fa-instagram fa-xl"></i>
        <i class="fa-brands fa-facebook fa-xl"></i>
        <!-- <a class="button1" href="/test">Test</a> -->
    </footer>
</body>
</html>