<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="nav-container">
        <h1><a href="/">TasteThreads</a></h1>
    </div>
    <div class="main-container">
        <main>
            <h2>Login</h2>
            <h3><%- include('./partials/messages') %></h3>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">

                <label for="password">Password</label>
                <input type="password" id="password" name="password">

                <button type="submit">Log In</button>
            </form>
            <a class="signup-button" href="/signup">Sign Up</a>
        </main>
    </div>
</body>
</html>