<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Not Chicago Menu</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/menu1.css">
</head>
<body>
    <nav>
        <h1><a href="/">TasteThreads</a></h1>
        <div class="nav-button">
            <a href="/dashboard">Menu Selection</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <section>
        <img src="/images/pizzacopy.jpg" alt="Old Not Chicago Banner">
    </section>
    <h2>Old Not Chicago Menu</h2>
    <div class="container">
        <h3>Specialty</h3>
            <ol>
                <li><a href="/chicago7">Chicago 7</a></li>
                <li><a href="/doubledeckeroni">Double Deckeroni</a></li>
                <li><a href="/meatballmushroom">Meatball Mushroom</a></li>
            </ol>
        <h3>Burgers & Sandwiches</h3>
            <ol>
                <li><a href="/bbqbaconcheddarburger">BBQ Bacon Cheddar Burger</a></li>
                <li><a href="/chicagocheesesteaksandwich">Chicago Cheesesteak Sandwich</a></li>
                <li><a href="/craftedbeerburger">Crafted Beer Burger</a></li>
            </ol>
    </div>
    <footer>
    </footer>
</body>
</html>