<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macarinas Menu</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/menu1.css">
</head>
<body>
    <nav>
        <h1><a href="/">TasteThreads</a></h1>
        <div class="nav-button">
            <a href="/dashboard">Menu Selection</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <section>
        <img src="/images/texmexbanner.webp" alt="Macarinas Banner">
    </section>
    <h2>Macarinas Menu</h2>
    <div class="container">
        <h3>Specialty</h3>
            <ol>
                <li><a href="/carneasadaplate">Carne Asada Plate</a></li>
                <li><a href="/quesabirriatacos">Quesabirria Tacos</a></li>
                <li><a href="/supremeanacondaburrito">Supreme Anaconda Burrito</a></li>
            </ol>
        <h3>Combinations</h3>
            <ol>
                <li><a href="/adobadaplate">Adobada Plate</a></li>
                <li><a href="/twohardshelltacos">Two Hard Shell Tacos</a></li>
                <li><a href="/twocarneasadaburritos">Two Carne Asada Burritos</a></li>
                <li><a href="/twoenchiladas">Two Enchiladas</a></li>
            </ol>
    </div>
    <footer>
    </footer>
</body>
</html>