<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patrons Pizzeria Menu</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/menu1.css">
</head>
<body>
    <nav>
        <h1><a href="/">TasteThreads</a></h1>
        <div class="nav-button">
            <a href="/dashboard">Menu Selection</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <section>
        <img src="/images/pizzacopy.jpg" alt="">
    </section>
    <h2>Patrons Pizzeria Menu</h2>
    <div class="container">
        <h3>Specialty</h3>
            <ol>
                <li><a href="/truffledelight">Truffle Delight</a></li>
                <li><a href="/seafoodspectacular">Seafood Spectacular</a></li>
                <li><a href="/bbqchickenfiesta">BBQ Chicken Fiesta</a></li>
            </ol>
        <h3>Lunch</h3>
            <ol>
                <li><a href="/margheritaclassic">Margherita Classic</a></li>
                <li><a href="/pepperonibliss">Pepperoni Bliss</a></li>
                <li><a href="/veggiegarden">Veggie Garden</a></li>
            </ol>
        <h3>Dinner</h3>
            <ol>
                <li><a href="/fourcheeseheaven">Four Cheese Heaven</a></li>
                <li><a href="/spicydiavola">Spicy Diavola</a></li>
                <li><a href="/pestochicken">Pesto Chicken</a></li>
            </ol>
    </div>
    <footer>
    </footer>
</body>
</html>