<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Selection</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/selection.css">
</head>
<body>
    <nav>
        <h1 href="/">TasteThreads</h1>
        <div class="nav-buttons">
            <a href="/logout">Logout</a>
        </div>  
    </nav>
    <div class="welcome">
        <h2>Welcome, <%= user %>.</h2>
        <h2>Explore our menu selection of featured local restaurants.</h2>
    </div>
    <main>
        <div class="card">
            <h3>Gyu Japanese BBQ</h3>
            <img src="/images/comingsoon.webp">
            <p>Gyu-Kaku, meaning "Horn of the Bull" in Japanese, provides authentic grilled barbecue dining experience where customers share premium cooked meats over a flaming smokeless grill, while sipping on Japanese sake and cold beers.</p>
            <a href="">Menu</a>
        </div>
        <div class="card">
            <h3>Macarinas</h3>
            <img src="/images/texmex/marinas.webp">
            <p>If you’re looking for the authentic flavors of Mexico without going south of the border, then Macarinas' Mexican Food is the answer. This high quality, delicious food is made with passion and love to bring a taste of Mexico right to your kitchen.</p>
            <a href="/menu2">Menu</a>
        </div>
        <div class="card">
            <h3>Old Not Chicago</h3>
            <img src="/images/pizza/oldchicago.webp">
            <p>From tavern thin and classic thick crust pizzas to calzones and Sicilian Pepperoni Rolls, Old Not Chicago got a favorite for everyone in the family. Because nothing completes a world class pint better than a plate of Chicago’s finest food</p>
            <a href="/menu3">Menu</a>
        </div>
    </main>
    <footer></footer>
</body>
</html>