<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Selection</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/selection.css">
</head>
<body>
    <nav>
        <h1 href="/">TasteThreads</h1>
        <div class="nav-buttons">
            <a href="/logout">Logout</a>
        </div>  
    </nav>
    <div class="welcome">
        <h2>Welcome, <%= user %>.</h1>
        <h2>Explore our menu selection of featured local restaurants.</h1>
    </div>
    <main>
        <div class="card">
            <h3>La Fiamma Pizzeria</h3>
            <img src="/images/pizzajoint.webp">
            <p>La Fiamma Pizzeria offers an elevated pizza experience, blending local ingredients with exotic toppings in our wood-fired oven. It's where culinary art meets tradition, creating a sophisticated atmosphere for gourmet pizza lovers.</p>
            <a href="/menu1">Menu</a>
        </div>
        <div class="card">
            <h3>Bread & Deli Delights</h3>
            <img src="/images/modernsandwich.webp">
            <p>Bread & Deli Delights serves up a mouthwatering array of artisan sandwiches, combining classic flavors with a modern twist. Nestled in the heart of the community, it's the perfect spot to grab a delicious bite, whether you're on the go or looking to savor every moment.</p>
            <a href="/menu2">Menu</a>
        </div>
    </main>
    <footer></footer>
    <!-- <button><a href="/postreview">Test post review</a></button> -->
</body>
</html>