<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work In Progress</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/menu1.css">
</head>
<body>
    <nav>
        <h1><a href="/">TasteThreads</a></h1>
        <div class="nav-button">
            <a href="/dashboard">Menu Selection</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <section></section>
    <h2>This menu is currently a work in progress.</h2>
    <div class="container"></div>
    <footer></footer>
</body>
</html>