:root {
    --d-text: #cefdf8;
    --d-background: #012823;
    --d-primary: #f7263f;
    --d-secondary: #02312c;
    --d-accent: #f60925;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--d-background);
    display: grid;
    height: 100vh;
    min-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr 1.5fr 1.5fr .3fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}

nav {
    background-color: var(--d-secondary);
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--d-accent);
}

nav > h1 {
    color: var(--d-primary);
    font-size: 60px;
    margin-left: 2%;
}
.nav-buttons{
display: flex;
justify-content: center;
align-items: center;
}

.nav-buttons > a {
    background-color: rgb(180, 0, 0);
    font-size: 16px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    text-wrap: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: var(--d-background);
    border: 1px solid var(--d-accent);
    transition: 0.2s;
}

main {
    background-color: var(--d-background);
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    min-height: 600px;
    width: auto;
}
.first-half {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: antiquewhite; */
    max-width: 60%;
    min-width: 50%;
    /* background-image: url(/images/fourcheesepizza.webp); */
    background-repeat: none;
    background-size: cover;
    margin-left: -5%;
}

.title-container {
    width: 100%;
    min-height: 10%;
    max-height: 20%;
    background-color: var(--d-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .95;
}

.dish-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-top: 10%;
    margin-bottom: 2%;
}

.title-container > h3 {
    font-size: 28px;
    color: var(--d-text);
    margin-bottom: 10%;
}



.second-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    
    min-width: 40%;
    max-width: 50%;
    /* border: 1px solid yellow; */
}


h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 2%;
    color: white;
}

.review-container {
    max-width: 50%;
    min-width: 500px;
    min-height: 400px;
    background-color: white;
    border: 3px solid var(--d-accent);
    border-radius: 10px;
    padding: 2%;
    overflow-y: scroll;

}



::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-track {
    background: none;
    border-radius: 5px;

}
::-webkit-scrollbar-thumb {
    background: rgb(181, 181, 181);
    border-radius: 10px;
  }

li {
    margin-bottom: 10px;
    border-bottom: 2px solid var(--d-accent);
    padding-right: 100px;
}

p {
    color: var(--d-secondary);
    margin-bottom: 10px;
    line-height: 20px;
}

.second-half > h3 {
    margin-top: 2%;
    margin-bottom: 2%;
    color: var(--d-text);
}

a {
    border: 1px solid var(--d-accent);
    border-radius: 2px;
    padding: 6px;
    background-color: rgb(180, 0, 0);
}

a:hover{
    transition: .2s;
    background-color: var(--d-accent);
}

ul > p {
    text-align: center;
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--d-secondary);
    grid-area: footer;
    border-top: 1px solid var(--d-accent);
    min-height: 70px;
}